@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sorda-Font';
  src: url('/fonts/sordaFont.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Sorda-Font', sans-serif; /* Added fallback */
}
